* {
    box-sizing: border-box;
}

body {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: 	#fba9c2;
    margin: 15px;
    padding: 0;
    background-image: url(images/berry_background.jpg);
    background-size: cover;
    background-attachment: fixed;
}   


header {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #f6326c; color:rgb(125, 3, 3);
}

footer {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #f57ca1; color:rgb(125, 3, 3);
}

section {
    background-color: #b8214e;
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
    color: 	rgb(125, 3, 3);
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

h2, h3, h4 {
    text-align: center;
    color: 	#ec5885;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
   
ul, ol {
    color: 	#4a1324;
    text-align: center;
    font-weight: bold;
    background-color: #f57ca1;
}

p {
    line-height: 2;
    color:#f1bfcd;
    text-align: center;
}

footer p {
    font-size: 25px;
}

img {
    border: double 5px #f57ca1;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

video {
    border: double 5px #f57ca1;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

a {
    color: rgb(125, 3, 3);
    font-size: 30px;
    text-decoration: none;
    margin: auto;
    display: block;
    justify-self: center;
}

a:hover {
    text-decoration: underline;
    background-color: #ffe3eb;
}

.video-container {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
}

.photo-container {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
}

.show-paragraph {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
}

.bio-container {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
}

.show-container {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    
}

.socials {
    color: pink
}

.nav-container {
   background-color: #f88cac;
   margin: 10px;
   border-bottom: double 5px #f04a7c;
   padding: 15px;
}

#list {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    text-decoration: underline;
    border-bottom: double 5px #f04a7c;
    font-size: 40px;
}

#list2 {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    text-decoration: underline;
    border-bottom: double 5px #f04a7c;
    font-size: 30px;
}

.banner {
    background-image: url(images/mary_banner_berry.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:300px;
    width: 100%;
    border: solid 8px #81062b;
}