* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: 	#fba9c2;
    margin: 0;
}

header {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #f57ca1; color:rgb(125, 3, 3);
}

section {
    background-color: #b8214e;
}

h1 {
    text-align: center;
    color: 	rgb(125, 3, 3);
    font-weight: bold;
    font-style: normal;
}
h2 {
    text-align: center;
    color: 	#ec5885;
}

h3 {
    text-align: center;
    color: 	#ec5885;
}

h4{
    color: 	#ec5885;
}

ul {
    color: 	#4a1324;
    text-align: center;
    font-weight: bold;
}

ol {
    color: 	#4a1324;
    text-align: center;
    font-weight: bold;
}

p {
    line-height: 3;
    color:#eed9df;
    text-align: center;
}

footer p {
    font-size: 25px;
}


a {
    color: rgb(125, 3, 3);
    font-size: 30px;
    text-decoration: none;
    margin: auto;
   display: block;
   justify-self: center;
}

a:hover {
    text-decoration: underline;
    background-color: #ffe3eb;
}

.video-container {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
}

.photo-container {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
}

.show-paragraph {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
}

.bio-container {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
}

.show-container {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
}